
*,
::after,
::before {
  box-sizing: border-box;
}
.H2-Heading {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}
.H2-Heading {
  font-size: calc(1.325rem + 0.9vw);
}
@media (min-width: 1200px) {
  .H2-Heading {
    font-size: 2rem;
  }
}


.slidecontainer {
  background-color: hsla(0, 17%, 83%, 0.428);
  box-shadow: 3px 3px 5px #0000004d, -3px -3px 5px #ffffff4d;
  min-height: 100vh;
  padding: 5px;
  text-align: center;
}
.autoslider {
  height: 340px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 90%;
}
.slide-track {
  animation: scroll 28s linear infinite;
}
.slide-track,
.slide-track2 {
  display: flex;
  width: -webkit-max-content;
  width: max-content;
}
.slide-track2 {
  animation: scroll2 28s linear infinite;
}
.aslide {
  align-items: center;
  height: 340px;
  padding: 15px;
  perspective: 100px;
  width: 250px;
}
.aslide img {
  -ms-interpolation-mode: nearest-neighbor;
  border: 1px solid #000;
  box-shadow: 2px 2px 4px 1px #0000004d;
  height: 270px;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  transition: transform 1%;
  width: 240px;
  width: 100%;
}
.aslide img:hover {
  transform: translateZ(20px);
}
.autoslider:after,
.autoslider:before {
  background: linear-gradient(90deg, #fff 0, #fff0 100);
  content: "";
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}
.autoslider:before {
  left: 0;
  top: 0;
}
.autoslider:after {
  right: 0;
  top: 0;
  transform: rotate(180deg);
}
.autoslider:hover .slide-track,
.autoslider:hover .slide-track2 {
  animation-play-state: paused;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-5050px);
  }
}
@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }
  to {
    transform: translateX(-5250px);
  }
}



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-image {
  max-width: 500px;
  height: 500px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .modal-image {
    max-width: 300px;
    height: 300px;
  }

  .modal-content {
    padding: 10px;
  }

  .close-button {
    top: 5px;
    right: 5px;
    padding: 5px;
  }
}
